<!-- wp:template-part {"slug":"main-header","theme":"fse-photography","tagName":"header"} /-->

<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group"><!-- wp:group -->
<div class="wp-block-group"><!-- wp:group {"layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group">

<!-- wp:pattern {"slug":"fse-photography/404-header-with-background"} /-->

</div>
<!-- /wp:group --></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-columns","theme":"fse-photography","tagName":"footer"} /-->