<!-- wp:template-part {"slug":"main-header","theme":"fse-photography","tagName":"header","className":"front-header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"var:preset|spacing|60","bottom":"0"}}},"layout":{"type":"constrained","contentSize":"95%"}} -->
<main class="wp-block-group" style="padding-top:var(--wp--preset--spacing--60);padding-bottom:0">

  <!-- wp:pattern {"slug":"fse-photography/main-banner"} /-->
  <!-- wp:pattern {"slug":"fse-photography/about"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-columns","theme":"fse-photography","tagName":"footer"} /-->